body {
  margin: 0;
  padding: 20px;

  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: #fff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Century Gothic', sans-serif;
}


.about-container {
  max-width: 700px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 35px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #ffffff;
   }

h2 {
  color: #fffbfb;
  font-size: 22px;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 30px;
}

p, li {
  font-size: 16px;
  line-height: 1.6;
}

ul {
  padding-left: 20px;
}

a {
  color: #ffffcc;
  text-decoration: underline;
}

a:hover {
  color: #ffe600;
}

.about-container img{
    height: 50px;
    padding:10px;
    padding-left: 25px;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4);
 
}

.back-button:hover {
  background: linear-gradient(to right, #0056b3, #0099cc);
  transform: scale(1.05);
}

