body {
  margin: 0;
  padding: 0;
  
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  color: #333;
}

.help-container {
  max-width: 500px;
  background: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #2193b0;
}

section {
  margin-top: 25px;
}

h2 {
  color: #197aa1;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding: 8px 0;
}

a {
  color: #197aa1;
  text-decoration: none;
}

.faq-item {
  margin-top: 10px;
  padding: 10px;
  border-left: 4px solid #2193b0;
  background: #f5faff;
  border-radius: 8px;
}

.faq-question {
  margin: 0;
  cursor: pointer;
}

.faq-answer {
  display: none;
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}

.back-button {
  text-align: center;
  margin-top: 40px;
}


.back-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.4);
 
}

.back-button:hover {
  background: linear-gradient(to right, #0056b3, #0099cc);
  transform: scale(1.05);
}

*{
   font-family: 'Century Gothic', sans-serif;
  font-weight: 500; /* Normal */

}